/*
.ios, .md{
  page-modality-list {
    .background {
      background-color: map-get($colors, white);
    }

    ion-item {
      font-family: 'maquinada';
      color: #fff;
      margin: 1px;
      font-size: 1.2em;
      background-color: map-get($colors, mq3);
      border-radius: 5px;
      //background-color: black;
    }
  }
}
*/
